@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 20px;
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__row .header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  z-index: 50;
}

.header__row .header__globus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  margin-left: 10px;
  z-index: 50;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__icon {
  cursor: pointer;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__link {
  color: #64666777;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
  margin-right: 48px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.icon-menu {
  display: none;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  height: 100%;
  background-color: black;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 60px;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.slider {
  position: relative;
  min-width: 0;
  height: 100%;
}

.slider__item {
  min-height: 100%;
  padding-top: 40px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 0;
  width: 8px;
  height: 20px;
  opacity: 0.5;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider .slick-arrow:hover {
  opacity: 1;
}

.slider .slick-arrow.slick-prev {
  -webkit-transform: rotate(90deg) translateX(-63px);
      -ms-transform: rotate(90deg) translateX(-63px);
          transform: rotate(90deg) translateX(-63px);
  background: url(../img/slider/sl-arrow_l.svg) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  -webkit-transform: rotate(90deg) translateX(50px);
      -ms-transform: rotate(90deg) translateX(50px);
          transform: rotate(90deg) translateX(50px);
  background: url(../img/slider/sl-arrow_r.svg) 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .slick-dots li {
  margin: 5px 0;
}

.slider .slick-dots li.slick-active button,
.slider .slick-dots button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.item-ipad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  position: relative;
}

.item-ipad__title {
  position: relative;
  margin-bottom: 100px;
}

.item-ipad__column1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20px;
}

.item-ipad__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-ipad__element {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0px 15px;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.item-ipad__element:hover .item-ipad__desc {
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-ipad__element img {
  width: 100px;
  height: 110px;
}

.item-ipad__info {
  width: 100%;
}

.item-ipad__desc {
  font-size: 0px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-ipad__column2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.item-ipad__column2 img {
  max-width: 50%;
}

.blocks {
  color: #fff;
  padding: 10% 13%;
  font-size: 20px;
}

.blocks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.blocks__item {
  padding: 30px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.blocks__content {
  height: 100%;
  padding: 16px 16px 16px 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-left: 3px solid transparent;
}

.blocks__content:hover {
  background-color: #262626;
  border-left: 3px solid #f2cb05;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blocks__content01 {
  background-color: #262626;
  border-left: 3px solid #f2cb05;
}

.blocks__text {
  padding-top: 20px;
}

.footer .container .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #646667;
  font-family: "Montserrat", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer .container .footer__row .footer__brand {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.footer .container .footer__row .footer__privacy {
  padding-left: 35px;
}

.main {
  padding-top: 70px;
}

.slide {
  width: 100%;
  margin-bottom: 3%;
}

.slide .container .slide__content {
  position: relative;
  overflow: hidden;
}

.slide .container .slide__content .slide__image img {
  width: 100%;
}

.slide .container .slide__content .slide__mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.slide .container .slide__content .slide__mask img {
  height: 100%;
}

.slide .container .slide__content .slide__text {
  position: absolute;
  right: 3%;
  bottom: 10%;
  left: 30%;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: sans-serif;
  font-size: calc(12px + 20 * ((100vw - 320px) / 1120));
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
}

.meeting {
  margin-bottom: 5%;
}

.meeting .container .meeting__content {
  text-align: center;
  padding: 0 5%;
}

.meeting .container .meeting__content .meeting__text {
  color: #646667;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 3%;
}

.meeting .container .meeting__content .meeting__button {
  margin: 0 auto;
  padding: 15px;
  background-color: #007397;
}

.meeting .container .meeting__content .meeting__button .meeting__text1 {
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.investor {
  margin-bottom: 5%;
}

.invest__title {
  color: #3c3f3d;
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.invest__text {
  width: 100%;
  color: #646667;
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 48px;
}

.invest__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 48px;
}

.invest__row .invest__element {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.invest__row .invest__element .invest__number {
  color: #007397;
  font-family: "PT Serif", sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}

.invest__row .invest__element .invest__undernumber {
  color: #aec3d4;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.invest__button {
  padding-top: 20px;
  width: 270px;
  height: 56px;
  background-color: #007397;
  position: relative;
}

.invest__button .invest__text1 {
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.media {
  margin-bottom: 5%;
}

.media .container .media__content .media__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media .container .media__content .media__row .media__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.media .container .media__content .media__row .media__card .media__image {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.media .container .media__content .media__row .media__card .media__image .media__photo {
  max-height: 100%;
}

.media .container .media__content .media__row .media__card .media__image .media__photo img {
  height: 100%;
  width: 100%;
}

.media .container .media__content .media__row .media__card .media__image .media__mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.media .container .media__content .media__row .media__card .media__image .media__mask img {
  height: 100%;
}

.media .container .media__content .media__row .media__card .media__image .mdeia__photohead {
  position: absolute;
  width: 100%;
  top: 24px;
  left: 7%;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
}

.media .container .media__content .media__row .media__card .media__image .mdeia__phototitle {
  position: absolute;
  width: 80%;
  bottom: 10%;
  left: 10%;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
}

.media .container .media__content .media__row .media__card .media__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #646667;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5%;
}

.media .container .media__content .media__row .media__card .media__more {
  color: #007397;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.map {
  margin-bottom: 2%;
}

.map .container .map__title {
  color: #3c3f3d;
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.map .container .map__image img {
  width: 100%;
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #000;
  }
}

@media (max-width: 1182px) {
  .menu__link {
    margin-right: 22px;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    padding: 70px 0px 0px 0px;
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 68px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }

  .menu__list li {
    margin: 0px 0px 10px 0px;
  }

  .menu__link {
    margin-right: 0;
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    right: 0;
    top: 50%;
  }

  .icon-menu span {
    position: absolute;
    background-color: #007397;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu:before,
  .icon-menu:after {
    content: "";
    background-color: #007397;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu:before {
    top: 0;
  }

  .icon-menu:after {
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .icon-menu.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .slide .container .slide__content .slide__text {
    line-height: 1.5em;
  }

  .invest__text {
    width: 100%;
  }

  .invest__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .invest__row .invest__element {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }

  .invest {
    text-align: center;
  }

  .invest__button {
    margin: 0 auto;
  }

  .media .container .media__content .media__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .media .container .media__content .media__row .media__card {
    margin: 0px 0px 60px 0px;
  }

  .media .container .media__content .media__row .media__card:last-child {
    margin: 0px 0px 0 0px;
  }
}

@media (max-width: 500px) {
  .footer .container .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .container .footer__row .footer__privacy {
    padding-left: 0;
  }
}

@media (max-width: 479.98px) {
  .invest__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}